body {
    background: #e1e8ee;
    font-family: Gadugi;
    max-width: 900px;
    margin: auto;
    border-top: 15px;
    }

h1{
    text-align: center;
    }

h2 {
    text-align: center;
}

.photo {
    border: #15172c;
    border-radius: 50%;
    max-width: 150px;
}

#title, .subtitle, .post_title {
    color: #15172c;
}

.title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #15172c;
    }

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    }

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #6f6d87;
    margin-bottom: 15px;
    border-radius: 5px
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
    }

.contact_list li a {
    color: blue;
    text-decoration: none;
}